@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Es werden nur mp3 Dateien Akzeptiert, ziehen sie die Datei in das Feld was auf der linken Hälfte liegt.</p>
</div>

<div class="text-left">
    <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>
</div>
